:root {
    --gap: 10rem;
    --white-color: #fff;
    --gap-dois: 30rem;
}
.contact {
    background-image: radial-gradient(#ffffff, #000);
    height: 100vh;
    position: relative;
}
.contact .outras-armas {
    width: 70vw;
    margin: auto;
    height: 100%;
    position: relative;
}
.contact .outras-armas .terraprisma {
    position: absolute;
    inset: 0;
    /* left: 50%; */
    transform: translateX(-50%); /* Isso centraliza o item */
    max-width: 100%; /* Certifique-se de que o item não exceda a tela */
}
.contact .outras-armas .terraprisma .galerias {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
}
.contact .outras-armas .terraprisma .galerias img {
    width: 50%;
    transform: rotate(-30deg);
}
.contact .outras-armas  .description {
    position: absolute;
    right: 100px;
    width: 70%;
    height: 98%;
    display: flex;
    flex-direction: column;
    
    align-items: flex-end;
    gap: 25px;
}
.form-group{
    flex: 1 1 320px;
    color: rgb(255, 255, 255);
    
  }
  .form-group label{
    display: block;
    margin-bottom: 1rem;
  }
  
  .form-group input, .form-group textarea{
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    border-radius: 20px;
    /*  box-sizing: border-box; no elements *{} */
  }
  .form-group input:focus, .form-group textarea:focus{
    box-shadow: 0px 0px 10px 2px var(--secondary-color);
  }
  .form-group button{
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 30px;
  }
  .form-group button:hover{
    background: var(--white-color);
    color: black;

  }
  
  .form-group ::placeholder{
    color: var(--light-gray-color);
    /* se quiser coloca uma cor mais escura mas nao muito mais... */
  }
  .contact-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
  }
  
  .form-grid legend{
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
  .contact-form{
    grid-column: span 2;
  }
  
  .contact-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
  }
  .main-content {
    max-width: 120rem;
    /* 120rem = 1200px */
    margin: 0 auto;
    /* padding: 3rem; */
    padding: 10rem var(--gap-dois);
    /* correção */
  }
  .main-bg{
    background: radial-gradient(#ffffff,#000);
   
}
.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    /* correção min-height*/
    background: radial-gradient(#22004e,#720063);
    margin: 1% ;
  }
  .gallery-img img {
    transition: all 300ms ease-in-out;
  }
  .gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
  }
  
  .grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: var(--gap); 
    counter-reset: grid-counter; 
    color: rgb(255, 255, 255);
}
.footer{
    text-align: center;
    font-size: 1.6rem;
  }
  .footer a{
    color: var(--primary-color);
  }
  .span {
    color: var(--secondary-color);
  }
  
  .footer p{
    margin: 0;
    padding: 1rem;
  }
  .grid .gallery-img h3 {
    text-align: center;
  }
  .grid .gallery-img p {
    text-align: center;
  }


.button1 {
    min-width: 120px;
  
    position: relative;
    cursor: pointer;
  
    padding: 12px 17px;
    border: 0;
    border-radius: 7px;
  
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background: radial-gradient(
      ellipse at bottom,
      rgba(71, 81, 92, 1) 0%,
      rgba(11, 21, 30, 1) 45%
    );
  
    color: rgb(255, 255, 255, 0.66);
    
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .button1::before {
    content: "";
    width: 70%;
    height: 1px;
  
    position: absolute;
    bottom: 0;
    left: 15%;
  
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.2;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .button1:hover {
    color: rgb(255, 255, 255, 1);
    transform: scale(1.1) translateY(-3px);
  }
  
  .button1:hover::before {
    opacity: 1;
  }
  /*abaixo arrows...  */

.button {
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 45px;
    height: 45px;
    opacity: 0.75;
    border: 1px solid #e7eae8;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .button:hover {
    animation: bounce_513 1s infinite;
  }
  
  @keyframes bounce_513 {
    0%,
      100% {
      transform: translateX(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  
    50% {
      transform: translateX(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    /* overflow: hidden; */
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 600px;
    gap: 5%;
    align-items: center;
    z-index: 1;
    color: #fff;
}

header img {
    width: 250px;

}

header nav ul {
    display: grid;
    grid-template-columns: repeat(3, 500px);
    color: #fff;
}
header nav ul a {
    color: #fff;
}

.container {
    background-image: radial-gradient(#00ff00, #000);
    height: 100vh;
    position: relative;
}

.container .list {
    width: 70vw;
    margin: auto;
    height: 100%;
    position: relative;
}

.container .list .item {
    position: absolute;
    inset: 0;
    /* left: 50%; */
    transform: translateX(-50%); /* Isso centraliza o item */
    max-width: 100%; /* Certifique-se de que o item não exceda a tela */
}

.container .list .item .car-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
}

.container .list .item .car-img img {
    width: 50%;
    
    border-radius: 50px;
}

.container .list .content {
    position: absolute;
    right: 100px;
    width: 70%;
    height: 98%;
    display: flex;
    flex-direction: column;
    
    align-items: flex-end;
    gap: 25px;
}

.container .list .content h2 {
    line-height: 1em;
    font-family: "League Gothic", sans-serif;
    color: #5e5e5e;
}

.container .list .content .description {
    color: #ffffff;
    font-size: 12px;
    text-align: justify;
    max-width: 600px;
}

/* section .list .content .information {
    border-radius: 30px;
    height: 35px;
    width: 120px;
    text-transform: uppercase;
    border: 2px solid #170354;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    font-family: "League Gothic", sans-serif;
} */

.container .arrows {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25px);
    display: flex;
    justify-content: space-between;
}

.container .arrows button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.container .indicators {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 90vw;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
}

.container .number {
    font-size: 5em;
    font-family: "League Gothic", sans-serif;
}

.container ul {
    position: absolute;
    top: 100%;
    right: 41%;
    height: 150px;
    width: 90vw;
    transform: translateX(-50%);
    display: flex;
    justify-content: end;
    gap: 15px;
}

.container ul li {
    width: 50px;
    height: 5px;
    background-color: #5e5e5e;
    border-radius: 5px;
    transition: 0.5s;
}

.container ul li.active {
    background-color: #000;
}

.container .list::before {
    content: '';
    position: absolute;
    height: 200px;
    width: 10000%;
    right: -400px;
    top: 99%;
    border-top: 10px solid #000000;
}



.container .list {
    --calculation: 1;
}

.container .list .item {
    transform: translateX(calc(100vw * var(--calculation)));
    transition: 0.5s;
    opacity: 0;
}

.container .list .item .car-img img {
    transform: rotate(0);
    transition: 0.5s;
    transition-delay: 0.3s;
}

.container .list .content .car-information,
.container .list .content h2,
.container .list .content .description,
.container .list .content .information {
    transform: translateX(calc(200px * var(--calculation)));
    transition: 0.7s;
    transition-delay: 0.3s;
    opacity: 0;
}

.container .list .content h2 {
    transition-delay: 0.5s;
}

.container .list .content .description {
    transition-delay: 0.7s;
}

.container .list .item.active {
    transform: translateX(0);
    transition: 0.5s;
    opacity: 1;
}

.container .list .item.active .car-img img {
    transform: rotate(-20deg);
}

.container .list .item.active .content .car-information,
.container .list .item.active .content h2,
.container .list .item.active .description,
.container .list .item.active .information {
    transform: translateX(0);
    opacity: 1;
}



@media (min-width: 360px) and (max-width: 767px) {
    header {
        grid-template-columns: 1fr;
    }
    .intro-content, .grid {
        grid-template-columns: 1fr;
      }

    header img {
        width: 10rem;
    }

    header nav ul {
        grid-template-columns: 1fr;
    }

    .container .list {
        width: 95vw;
    }

    .container .list .content {
        right: 20px;
        width: 90%;
    }

    .container .list .car-information {
        font-size: 2rem;
    }

    .container .list .description {
        font-size: 0.8rem;
        margin-top: 15rem;
    }

    .container .list .car-img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container .list .car-img img {
        width: auto;
        height: auto;
        position: absolute;
        left: 15%;
        transform: translate(50%, -50%);
    }

    .container .arrows {
        width: 95vw;
    }

    .container .arrows button {
        width: 35px;
        height: 35px;
    }

    .container .arrows button img {
        width: 1.5rem;
    }

    .container .indicators {
        width: 95vw;
        margin-top: 5rem;
    }

    .container ul {
        height: auto;
        right: 20%;
    }

    .containern ul li {
        width: 30px;
        height: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    header {
        grid-template-columns: 1fr 1fr; /* Duas colunas */
        
        img {
            width: 15rem; /* Tamanho ajustado para a imagem */
        }

        nav ul {
            grid-template-columns: repeat(2, 1fr); /* Duas colunas para os links */
        }
    }

    .container {
        .list {
            width: 90vw; /* Largura da lista ajustada */
            
            .content {
                right: 15px; /* Ajusta a posição */
                width: 85%; /* Largura do conteúdo ajustada */
                
                h2 {
                    font-size: 2rem; /* Tamanho da fonte ajustado */
                }
                .car-information{
                    font-size: 4rem; /* Ajusta a descrição */
                    /* Ajusta a margem superior */
                }
                .description {
                    font-size: 1.3rem; /* Ajusta a descrição */
                    margin-top: 18rem; /* Ajusta a margem superior */
                }
            }
        }
        .list .car-img {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .list .car-img img {
            width: auto;
            height: auto;
            position: relative; /* Ajustado para que o transform não seja necessário */
            left: 5rem; /* Centraliza horizontalmente */
            /* Se precisar centralizar verticalmente, use margin: auto; */
        }
        
        .arrows {
            width: 90vw; /* Ajusta a largura das setas */
            <section class="contact" id="contact">
        
            </section>
            button {
                width: 40px; /* Largura dos botões ajustada */
                height: 40px; /* Altura dos botões ajustada */

                img {
                    width: 1.8rem; /* Largura da imagem das setas ajustada */
                }
            }
        }

        .indicators {
            width: 90vw; /* Ajusta a largura dos indicadores */
            margin-top: 4rem; /* Ajusta a margem superior */
        }

        ul {
            height: auto; /* Ajusta a altura da lista */
            right: 15%; /* Ajusta a posição */
            
            li {
                width: 40px; /* Largura dos itens da lista ajustada */
                height: 8px; /* Altura dos itens da lista ajustada */
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    header {
        grid-template-columns: 1fr 1fr 1fr; /* Três colunas */
        
        img {
            width: 20rem; /* Tamanho ajustado para a imagem */
        }

        nav ul {
            grid-template-columns: repeat(3, 1fr); /* Três colunas para os links */
        }
    }

    .container {
        .list {
            width: 85vw; /* Largura da lista ajustada */
            
            .content {
                right: 10px; /* Ajusta a posição */
                width: 80%; /* Largura do conteúdo ajustada */
                
            .car-information{
                font-size: 3rem; /* Ajusta a descrição */
            }

                .description {
                    font-size: 1.2rem; /* Ajusta a descrição */
                    margin-top: 5rem; /* Ajusta a margem superior */
                }
            }
        }
        .list .car-img {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .list .car-img img {
            width: auto;
            height: auto;
            position: relative; /* Mantido para centralizar */
            left: 0; /* Centraliza horizontalmente */
        }
        
        .arrows {
            width: 85vw; /* Ajusta a largura das setas */

            button {
                width: 45px; /* Largura dos botões ajustada */
                height: 45px; /* Altura dos botões ajustada */

                img {
                    width: 2rem; /* Largura da imagem das setas ajustada */
                }
            }
        }

        .indicators {
            width: 85vw; /* Ajusta a largura dos indicadores */
            margin-top: 3rem; /* Ajusta a margem superior */
        }

        ul {
            height: auto; /* Ajusta a altura da lista */
            right: 10%; /* Ajusta a posição */
            
            li {
                width: 50px; /* Largura dos itens da lista ajustada */
                height: 10px; /* Altura dos itens da lista ajustada */
            }
        }
    }
}

@media (min-width: 1440px) and (max-width: 1919px){
    header {
        grid-template-columns: 1fr 1fr 1fr 1fr; /* Quatro colunas */
        
        img {
            width: 25rem; /* Tamanho ajustado para a imagem */
        }

        nav ul {
            grid-template-columns: repeat(4, 1fr); /* Quatro colunas para os links */
        }
    }

    .container {
        .list {
            width: 80vw; /* Largura da lista ajustada */
            
            .content {
                right: 5px; /* Ajusta a posição */
                width: 75%; /* Largura do conteúdo ajustada */
                
               .car-information{
                font-size: 3rem;
                margin-top: 15rem;
               }

                .description {
                    font-size: 1.3rem; /* Ajusta a descrição */
                    margin-top: 0rem; /* Ajusta a margem superior */
                }
            }
        }
        .list .car-img {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .list .car-img img {
            width: auto;
            height: auto;
            position: relative; /* Mantido para centralizar */
            left: 0; /* Centraliza horizontalmente */
        }
        
        .arrows {
            width: 80vw; /* Ajusta a largura das setas */

            button {
                width: 55px; /* Largura dos botões ajustada */
                height: 55px; /* Altura dos botões ajustada */

                img {
                    width: 2.5rem; /* Largura da imagem das setas ajustada */
                }
            }
        }

        .indicators {
            width: 80vw; /* Ajusta a largura dos indicadores */
            margin-top: 2rem; /* Ajusta a margem superior */
        }

        ul {
            height: auto; /* Ajusta a altura da lista */
            right: 5%; /* Ajusta a posição */
            
            li {
                width: 60px; /* Largura dos itens da lista ajustada */
                height: 15px; /* Altura dos itens da lista ajustada */
            }
        }
    }
}

@media (min-width: 1920px) and (max-width: 2560px) {
    header {
        grid-template-columns: repeat(4, 1fr); /* Quatro colunas */
        
        img {
            width: 30rem; /* Tamanho ajustado para a imagem */
        }

        nav ul {
            grid-template-columns: repeat(4, 1fr); /* Quatro colunas para os links */
        }
    }

    .container {
        .list {
            width: 75vw; /* Largura da lista ajustada */
            
            .content {
                right: 0.5rem; /* Ajusta a posição */
                width: 70%; /* Largura do conteúdo ajustada */
                
                .car-information {
                    font-size: 3.3rem; /* Tamanho da fonte aumentado */
                    margin-top: 10rem; /* Ajusta a margem superior */
                }

                .description {
                    font-size: 1.5rem; /* Tamanho da descrição aumentado */
                    margin-top: 10rem; /* Remove a margem superior */
                }
            }
        }

        .list .car-img {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .list .car-img img {
            max-width: 100%; /* Garante que a imagem não ultrapasse a largura disponível */
            height: auto;
        }
        
        .arrows {
            width: 85vw; /* Ajusta a largura das setas */

            button {
                width: 65px; /* Largura dos botões ajustada */
                height: 65px; /* Altura dos botões ajustada */

                img {
                    width: 3rem; /* Largura da imagem das setas ajustada */
                }
            }
        }

        .indicators {
            width: 75vw; /* Ajusta a largura dos indicadores */
            margin-top: 2rem; /* Ajusta a margem superior */
        }

        ul {
            height: auto; /* Corrige a altura para auto */
            right: 5%; /* Ajusta a posição */
            
            li {
                width: 70px; /* Largura dos itens da lista ajustada */
                height: 20px; /* Altura dos itens da lista ajustada */
            }
        }
    }
}
.modal { /* Estiliza elementos com a classe modal */
    display: none; /* Torna o modal invisível por padrão */
    position: fixed; /* Define a posição como fixa */
    z-index: 1; /* Define a profundidade de camada */
    padding-top: 60px; /* Adiciona 60 pixels de preenchimento no topo */
    left: 0; /* Alinha à esquerda */
    top: 0; /* Alinha ao topo */
    width: 100%; /* Define a largura como 100% da tela */
    height: 100%; /* Define a altura como 100% da tela */
    overflow: auto; /* Adiciona uma barra de rolagem se o conteúdo ultrapassar o tamanho da tela */
    background-color: rgb(0,0,0); /* Define a cor de fundo como preta */
  }
  .modal-content { /* Estiliza elementos com a classe modal-content */
    margin: auto; /* Centraliza horizontalmente */
    display: block; /* Define como bloco */
    width: 80%; /* Define a largura como 80% do contêiner */
    max-width: 700px; /* Define a largura máxima como 700 pixels */
  }
  .close { /* Estiliza elementos com a classe close */
    position: absolute; /* Define a posição como absoluta */
    top: 15px; /* Alinha 15 pixels do topo */
    right: 35px; /* Alinha 35 pixels da direita */
    color: #fff; /* Define a cor do texto como branca */
    font-size: 40px; /* Define o tamanho da fonte como 40 pixels */
    font-weight: bold; /* Define a fonte como negrito */
    transition: 0.3s; /* Define a transição das propriedades como 0.3 segundos */
  }
  .close:hover, /* Estiliza elementos com a classe close ao passar o mouse */
  .close:focus { /* Estiliza elementos com a classe close quando estão em foco */
    color: #bbb; /* Muda a cor do texto para cinza claro */
    text-decoration: none; /* Remove a decoração do texto */
    cursor: pointer; /* Muda o cursor para um ponteiro */
  }
